.container{
text-align:center;
font-family:Arial;
}

.dice{
width:100px;
margin:20px;
}

.controls button{
margin:10px;
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

.board{
display:grid;
grid-template-columns:repeat(2,200px);
gap:20px;
justify-content:center;
margin-top:30px;
}

.player{
padding:20px;
border-radius:10px;
color:white;
font-size:18px;
font-weight:bold;
}

.blue{
background:royalblue;
}

.red{
background:crimson;
}

.yellow{
background:goldenrod;
}

.green{
background:seagreen;
}

.winner{
color:purple;
margin-top:20px;
}

.reset{
margin-top:30px;
padding:10px 20px;
font-size:16px;
}